<ion-view title="Puzzle Page">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <span ng-show="settings.user.discount > 0" class="icon-label">{{settings.user.discount}}%</span><i ng-show="settings.user.discount > 0" class="icon ion-cash balanced top-icon"></i>
    <span class="icon-label">{{settings.user.lives}}</span><i class="icon ion-heart assertive top-icon"></i>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <h1>Puzzle Number: {{puzzle.PuzzleId}}</h1>
    <img class="responsive-image" ng-src="{{puzzle.Photo}}" alt="puzzle image">
    <h2>{{puzzle.Hint}}</h2>

    <button class="button button-block button-balanced" ng-click="checkLoc()">I Found It!</button>
  </ion-content>
</ion-view>
