/* Slightly darker header / footer */
.bar.bar-dark {
  background-color: #222;
}

/* Icon styling */
.icon-label {
  padding-top: 6px;
  font-size: 18px;
}

.top-icon {
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 4px;
  font-size: 24px;
}

/* Character box styling */
.character-image {
  width: 100%;
}

.padding-bottom {
  padding-bottom: 40px;
}

.slider-pager {
  padding-top: 20px;
}
