/* Slightly darker header / footer */
.bar.bar-dark {
  background-color: #222;
}

/* Icon styling */
.icon-label {
  padding-top: 6px;
  font-size: 18px;
}

.top-icon {
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 4px;
  font-size: 24px;
}

/* Coupon Styling */
.coupon {
  display: block;
  text-align: center;
  background: #f7f7f7;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  border: 3px solid #777;
}

/* Character box styling */
.responsive-image {
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: block;
}

.padding-bottom-2 {
  padding-bottom: 40px;
}

.slider-pager {
  padding-top: 20px;
}

.bottom-border {
  border-bottom: 2px solid #ccc;
}

/* Utility Classes */
.center-text {
  text-align: center;
}

.lots-of-padding {
  padding: 50px;
}
