/* Slightly darker header / footer */
.bar.bar-dark {
  background-color: #222;
}

/* Icon styling */
.icon-label {
  padding-top: 6px;
  font-size: 18px;
}

.top-icon {
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 4px;
  font-size: 24px;
}

/* Custom file upload button */
.file-upload {
  color: #aaa;
}

.file-upload input.file-input {
  visibility: hidden;
  width: 0;
}

/* Character box styling */
.responsive-image {
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: block;
}

.padding-bottom-2 {
  padding-bottom: 40px;
}

.slider-pager {
  padding-top: 20px;
}

.bottom-border {
  border-bottom: 2px solid #ccc;
}

/* Utility Classes */
.center-text {
  text-align: center;
}

.lots-of-padding {
  padding: 50px;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
body > div.modal-backdrop.active > div.modal-wrapper > ion-modal-view
{
  height:900px;
  width:900px;
  padding-top: -150px;
}

body > div.modal-backdrop.active > div.modal-wrapper > ion-modal-view
{
  top:30px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#magnifiedImage{
  height:900px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.scroll-content { 
    overflow: scroll;
  }